$color1: #f7f7f7;
$color2: #f2ebdf;
$color3: #8f8f8f;
$color4: #2c2524;
$color5: #211006;
$color6: #e9c38e;
$color7: #da9d69;
$color8: #211c1b;
h2 {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  text-transform: uppercase;
  color: $color6;
}
p {
  line-height: 25px;
  color: $color2;
}
.mainPreviewContainer {
  background-image: linear-gradient(
      185deg,
      rgba(32, 34, 26, 0) 0%,
      #20221a 96.08%
    ),
    url('../assets/image/buy/bg.jpg');
  background-size: cover;
  .buyPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 100px 0;
    h1 {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 30px;
    }
    h3 {
      font-family: 'Lora';
      font-weight: 700;
      font-size: 22px;
      line-height: 30px;
      text-transform: uppercase;
      color: $color4;
      max-width: 847px;
    }
    .orderFormContainer {
      background-color: $color1;
      width: 100%;
      border-radius: 30px;
      padding: 45px 130px 150px;
      form {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        row-gap: 30px;
        .telMail {
          display: flex;
          justify-content: space-between;
        }
        .buttons {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
        }
      }
    }
  }
}
.aboutContainerWrapper {
  background: url(../assets/image/buy/about_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutContainer {
  display: flex;
  justify-content: end;
  width: 100%;
  .about {
    max-width: 550px;
    background: #3e3e3e;
    padding: 50px 30px 288px;
    opacity: 0.9;
  }
}
.benefitsContainer {
  margin: 140px 0;
  .benefitsContainerTop {
    display: flex;
    justify-content: space-between;
    .benefitsText {
      max-width: 622px;
      p {
        line-height: 30px;
      }
    }
    .ellipse {
      position: relative;
      width: 446px;
      height: 429px;
      background: #3e3e3e;
      opacity: 0.6;
      border-radius: 50%;
      .img {
        position: absolute;
        bottom: 0;
        transform: rotate(15deg);
        z-index: 10;
      }
    }
  }
  .benefitsContainerBottom {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 110px;
    .benefitsText {
      max-width: 980px;
      h2 {
        margin-bottom: 20px;
      }
    }
  }
}
